@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,700&display=swap');

body{
    font-family: 'Nunito', sans-serif;
  margin:2rem;
  margin-top: 0rem;
  margin-bottom: 0 rem;
}
hr{
    margin: 2rem 0rem;
}
:root{
    --primary-colour:rgb(0, 0, 0);
    --dark-grey:rgb(75, 48, 90);
    --off-white:rgb(107, 93, 116);
     --about-colour:rgb(46, 40, 112);
}
/* #--links--# */
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding:0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */

}
.primary-link{
    background-color: var(--primary-colour);
    border-radius: 0.5rem;
    color: white;
}
.secondary-link{
    background-color: var(--primary-colour);
    border-radius: 0.5rem;
    color: white;
}
.container{
    padding:0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/* lists */

.non-bullet{
    list-style: none;
}

.list-item-inline{
    display:inline;
    padding: 0rem 1rem
}

.navigation{
     background-color: var(--primary-colour);
    padding:1rem;
    color: white;
    border-radius: 1rem;
}
.navigation .nav-pills{
text-align: right;
}
.navigation .nav_brand{
    font-weight: bold;
}
.navigation .link{
    color: white;
}
.navigation .nav_active{
     font-weight: bold;
}

/* header */

.hero{
   padding: 2rem;
}

.hero .hero_image{
    max-width: 300px;
    display: block;
   
   margin:auto
}
.hero .hero-heading{
    text-align: center;
    color: var(--dark-grey);
    margin: auto;
    padding: 1rem;
}

.footer{
    background-color: var(--primary-colour);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-bottom-left-radius: 1rem;
  margin-top: 10rem;
}
.footer .link{
    color: white;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
a.link:hover,
a.link:active {
    color: rgb(56, 56, 194);
}
.section{
padding:2rem;
}
section:hover{
   
   font-size: 110%;
   background-color: rgb(201, 201, 198);
}
.section h1{
    text-align: center;

}
.ow{
    background-color: var(--off-white);
}

.sc{
     background-color: var(--about-colour);
}
